.topActions {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.bottomActions {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.sync {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: hsl(205, 70%, 58%);
  margin-bottom: 6px;
}

a.syncButton {
  font-size: 18px;
  color: white;
}

.expand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

a.expandButton {
  font-size: 14px;
  color: white;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
	background-color: #b8e986;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.add > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.addTaskButton {
  font-size: 18px;
  color: #417505;
}
