.container {
  width: 100vw;
  text-align: center;
  overflow: auto;
  flex: 1;
}

.background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
  background-image: linear-gradient(135deg, #7b8fe6 0%, #411679 100%);
}

.container h2 {
  font-size: 5rem;
}

.leftTimeIndication {
  z-index: 5;
  position: fixed;
  top: 100px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #fd8e04;
  margin-top: -6px;
}

.rightTimeIndication {
  z-index: 5;
  position: fixed;
  top: 100px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 10px 6px 0;
  border-color: transparent #fd8e04 transparent transparent;
  margin-top: -6px;
}
