.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  flex: 1;
}

.background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(135deg, #7b8fe6 0%, #411679 100%);
}

.container h2 {
  font-size: 5rem;
}
