.container {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 30px 26px 26px 26px;
}

.backButton {
  position: absolute;
  top: 6px;
  left: 6px;
}

.inlineField {
  display: flex;
  align-items: flex-end;
  margin-top: 4px;
}

.inlineField .form-group {
  flex: 1;
}

.container .button--primary {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
