.container {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
  /*background-image: linear-gradient(135deg, #7b8fe6 0%, #411679 100%);*/
  color: white;
  overflow: hidden;
}

.container h1 {
  margin-top: 6px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 26px;
}

.form {
  flex: 1;
  position: relative;
  margin: 4px 30px 20px 30px;
}

.backButton i {
  color: white;
}

.inlineField {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  position: relative;
}

.inlineField .form-group {
  flex: 1;
}

.beginIcon, .endIcon {
  display: inline-block;
  position: absolute;
  top: 27px;
  left: -24px;
  padding-right: 16px;
}

.beginIcon::before, .endIcon::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
}

.beginIcon::after {
  position: absolute;
  content: '';
  top: 2px;
  left: 7px;
  height: 80px;
  width: 1px;
  background-image: linear-gradient(white 33%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 1px 3px;
  background-repeat: repeat-y;
}

.at {
  margin: 0 20px;
}

.noRepeat, .repeat {
  text-align: center;
  margin-bottom: 10px;
}

.repeat a:hover, .noRepeat a:hover {
  text-decoration: underline;
}
