.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
	box-sizing: border-box;
  height: 100vh;

  section {
    margin: 10px 40px;
  }

  p {
    font-size: 12px;
  }

  h2 {
		margin-top: 8px;
    margin-bottom: 6px;
  }
}

.backButton {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 26px;
  color: #ff0844;
}

.synchronized {
	font-size: 12px;
}
