.task {
  box-sizing: border-box;
  padding: 6px;
  overflow: hidden;
  background-color: #ececec;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
}

.task:hover {
  cursor: pointer;
}

.task.selected {
  z-index: 1;
  cursor: move;
  cursor: grab;
  transition: border 0.4s;
  background-color: #ffb97c;
}

.task:active {
  cursor: move;
  cursor: grab;
}

.taskInfos {
  flex: 1;
}

.taskDuration {
  width: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
}

.durationBegin, .durationEnd {
  padding: 3px;
  font-size: 11px;
	color: #565556;
}

.line {
  flex: 1;
	height: 15.4px;
	width: 1px;
  background-color: #979797;
}

.task h3 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

.task h3::first-letter {
  text-transform: uppercase;
}

.task a {
  font-size: 14px;
  color: #444444;
}

.task:hover .deleteTask {
  display: block;
}

.deleteTask {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  padding: 0;
}
