.task {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  padding: 6px;
  overflow: hidden;
  background-color: lightgrey;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.task:hover {
  transition: border 0.4s;
}

.task h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.task a {
  font-size: 14px;
  color: #444444;
}
