.container {
  position: relative;
  margin-top: 16px;
}

.container input {
  text-align: center;
}

.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 30px 26px 26px 26px;
  display: none;
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  opacity: 0.3;
  background: none;
  border: 0;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
