@import "~font-awesome/css/font-awesome.css";
@import "~react-day-picker/lib/style.css";
@import "~react-select/dist/react-select.css";
@import "./styles/buttons.css";
@import "./styles/form.css";
@import "./components/ClockPicker.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  -webkit-app-region: drag;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -.025em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.react-draggable {
  left: 0;
  right: 0;

	&:hover {
	  z-index: 2 !important;
	}

}

button:focus {
  outline: none;
}
