@import "~font-awesome/css/font-awesome.css";
@import "~react-day-picker/lib/style.css";
@import "~react-select/dist/react-select.css";
@import "./styles/buttons.css";
@import "./styles/form.css";
@import "./components/ClockPicker.css";

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  -webkit-app-region: drag;
  background-image: linear-gradient(135deg, #7b8fe6 0%, #411679 100%);
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.react-draggable {
  left: 0;
  right: 0;
}

button:focus {
  outline: none;
}
